html, body {
    height: 100%;
}


app-footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    position: absolute;
    background-color: black;
    color: white;
    clear: both
}

.navbar {
    border-radius: 0;
    height: 50px;
    color: white;
}

.filmPannel {
    cursor: pointer;
}

.movie-detail-image {
    float: right;
}

.uploaded-image {
    width: 68px;
    height: 100px;
}

