<div style="height: 50px" class="container">
    <div>
        <img ng-src="data:image/jpeg;base64,{{movieCtrl.movie.image}}" alt="{{movieCtrl.movie.name}}" style="margin: auto; width: 342px; height: 500px;" class="thumbnail movie-detail-image" />
    </div>
    <div>
        <b>{{movieCtrl.movie.name}}<span> ({{movieCtrl.movie.year}})</span></b>
        <p><span>{{movieCtrl.movie.imdb}}</span></p>
        <p>{{movieCtrl.movie.description}}</p>
    </div>
    <a class="btn btn-primary" href="#movies/{{movieCtrl.movie.id}}/update">Update</a>
</div>
