<div style="height: 50px">
    <div uib-carousel active="carousel.active" interval="carousel.interval" no-wrap="carousel.noWrapSlides">
        <div uib-slide ng-repeat="slide in carousel.top10 track by slide.Id" index="slide.Id">
            <img ng-src="{{slide.ImageUrl}}" style="margin: auto; width: 342px; height: 500px;" />
            <div class="carousel-caption">
                <h4>Image {{slide.Id}}</h4>
                <p>{{slide.Name}}</p>
            </div>
        </div>
    </div>
</div>
